@charset "UTF-8";

:root {
    --deep-green: #174812;
    --light-green: #348E2B;
    --white: #fff;
    --black: #000;
    --gray: #4E4E4E;
    --gray-light: #808080;
}

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a {
    color: inherit;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-size: 10px;
    font-family: "Onest", sans-serif;
    color: var(--primary);
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "Onest", sans-serif;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
html {
    scroll-behavior: smooth;
}

body {
    scrollbar-gutter: stable;
    background: var(--light);
}

@media (max-width: 1355px) {
    body {
        font-size: 9px;
    }
}

@media (max-width: 1279.98px) {
    body {
        font-size: 8.2px;
    }
}

@media (max-width: 991.98px) {
    body {
        font-size: 8px;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.wrapper>main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.container {
    max-width: 1355px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 15px;
}

/* quiz */
.quiz {
    padding: 10em 0 7.6em 0;
    position: relative;
}

.quiz-head {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 4em;
}

.quiz-title {
    color: var(--deep-green);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 6.4em;
    line-height: 85%;
    letter-spacing: -0.03em;
    width: 8em;
}

.quiz-description {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 2.4em;
    text-align: right;
    letter-spacing: -3%;
    width: 22em;
}

.quiz-question {
    color: var(--white);
    font-size: 3.4em;
    font-family: 'Montserrat';
    font-weight: 700;
    width: 10em;
}

.quiz-question.last {
    width: 21em;
}

.quiz-items {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 72em;
}

.quiz-item {
    background: url("../images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 8.9em 5em 3.5em 5em;
    position: relative;
    height: 72em;
    border-radius: 4em;
    display: none;
    z-index: 20;
    overflow: hidden;
}

.quiz-item.active {
    display: block;
}

.quiz-action {
    position: relative;
    z-index: 10;
}

.quiz-choice {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3em 0 0 0;
}

.choice-radio {
    background: var(--white);
    display: flex;
    align-items: center;
    gap: 2em;
    width: 61.4em;
    padding: 1.5em 0 1.5em 3em;
    border-radius: 4em;
    cursor: pointer;
}

.choice-radio span {
    font-size: 2.4em;
    font-family: 'Montserrat';
    font-weight: 500;
    flex-grow: 1;
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    width: 33px;
    height: 33px;
    border: 3px solid var(--gray);
    border-radius: .8em;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    border-color: var(--light-green);
}

input[type="checkbox"]:checked::before {
    content: url("../images/check.svg");
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-white {
    font-size: 2.6em;
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 120%;
    display: flex;
    align-items: center;
    gap: 1.15em;
    padding: .77em 1.54em;
    background: var(--white);
    border-radius: 2.27em;
}

.btn-transparent {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 2.4em;
    padding: 0.83em 1.25em;
    border-radius: 1.6em;
    width: fit-content;
    color: var(--white);
    border: 1px solid var(--white);
}

.btn-white .icon {
    height: fit-content;
}

.quiz-img {
    position: absolute;
    bottom: 0;
    right: 5em;
    z-index: 1;
}

input.quiz-input {
    font-size: 2.4em;
    width: 25.54em;
    border-radius: 4em;
    color: var(--black);
    font-family: "Montserrat";
    font-weight: 500;
    padding: .83em 0 .83em 1.25em;
}

input.quiz-input::placeholder {
    color: var(--gray-light);
}

.quiz-next-btn {
    position: absolute;
    z-index: 99;
    bottom: 4em;
    left: 2em;
}

.quiz-next-btn.disactive {
    border: 2px solid var(--white);
    background: transparent;
}

.quiz-next-btn.disactive .text {
    color: var(--white);
}

.quiz-next-btn.disactive .icon svg path {
    stroke: var(--white);
}

.quiz-next-btn.no-show {
    display: none;
}

.btn-white.quiz-next-btn:disabled {
    opacity: 1;
    color: var(--black);
    background: var(--white);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.error-message {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.5em;
    color: red;
    width: fit-content;
}

@media (max-width: 1024px) {
    .quiz-img {
        height: 70em;
        object-fit: cover;
        right: -3em;
    }
}

@media (max-width: 900px) {
    .quiz-head {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: baseline;
        gap: 2em;
    }

    .quiz-description {
        text-align: left;
        width: fit-content;
    }

    .quiz-title {
        width: fit-content;
    }
}

@media (max-width: 768px) {
    .quiz-item {
        padding: 8.9em 3em 3.5em 3em;
    }

    .quiz-img {
        display: none;
    }

    .quiz-question.last {
        width: fit-content;
    }

    .choice-radio,
    input.quiz-input {
        width: 100%;
    }

    .quiz-next-btn {
        left: 1.3em;
    }

}

@media (max-width: 425px) {
    input[type="checkbox"] {
        width: 25px;
        height: 25px;
        border-radius: .6em;
    }

    input[type="checkbox"]:checked::before {
        width: 20px;
        height: 20px;
    }

    .choice-radio {
        gap: 1em;
    }

    .choice-radio label,
    input.quiz-input {
        font-size: 2em;
    }

    .btn-white {
        gap: 1em;
        padding: .77em 1.2em;
    }

    .btn-white .icon svg {
        width: 30px;
        height: 30px;
    }
}